.thumbnail-row {
  margin-top: 20px;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 340px;
}

.thumbnail-img {
  transition: all 0.3s ease;
}

.thumbnail-img:hover {
  transform: scale(1.05);
  border-color: #1677ff;
}

.thumbnail-img.active {
  border: 2px solid #1677ff;
}

/* Đảm bảo mỗi ảnh thumbnail chiếm 1/3 hàng, tối đa 3 ảnh/row */
.thumbnail-row > .ant-col {
  flex: 0 0 calc(33.33% - 10px);
  max-width: 100px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
