.contact-card {
  border: none;
}

.contact-title {
  font-size: 20px;
  font-weight: 700;
  color: #232321;
  margin-bottom: 14px;
}

.contact-paragraph {
  margin-bottom: 16px;
  opacity: 0.8;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.contact-form-item {
  margin-bottom: 24px;
}

.contact-input {
  border-radius: 6px;
  border: 1.2px solid #e0e0e0;
  background: #fff;
  height: 40px;
  font-size: 15px;
  padding: 0 12px;
  color: #232321;
  transition: border 0.2s;
}
.contact-input:focus {
  border-color: #4a69e2;
  background: #fff;
  color: #232321;
}

input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:hover,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px #fff inset !important;
  box-shadow: 0 0 0 1000px #fff inset !important;
  -webkit-text-fill-color: #232321 !important;
  color: #232321 !important;
  transition: background-color 5000s ease-in-out 0s;
}
